.slider__section{
    position: relative;
    overflow: hidden;
    height: 660px;
    background-attachment: fixed;
}

.slider1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../img/bg-img/bg1.jpg);
}
.slider2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../img/fillterImgs/design/design_2.jpg);
}
.slider3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../img/fillterImgs/art/art_1.jpg);
}
.slider__options{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s linear;
    &.slider__active{
        opacity: 1 ;
    }
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    // margin-top: -45px;
    margin-top: 290px;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0.1;
    transition: all .5s linear;
    z-index: 12;
    &:hover{
        opacity: 1;
    }
}
.arrow__left{
    border-width: 30px 40px 30px 0;
    left: 0;
    margin-left: 30px;
    border-color: transparent $Green transparent transparent;
}
.arrow__right{
    border-width: 30px 0 30px 40px;
    right: 0;
    margin-right: 30px;
    border-color: transparent  transparent transparent $Green;
}
.header__fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: transparent;
    transition: all .3s linear;
    padding: 30px 0;
}
.header__container{
    justify-content: space-between;
    align-items: center;
}
.nav__li__active{
    transition: all .3s linear;
    font-family: $MontBold !important;
    &::after{
        content: '';
        width: 40px;
        height: 2px;
        background: $Green;
        position: absolute;
        top: -10px;
        left: 15px;
        display: block;
        transition: all .5s linear;
    }
    &:hover::after{
        width: 0px;
    }
}
.nav__li{
    padding: 0 15px;
    text-transform: capitalize;
    color: $White;
    font-family: $MontLight;
    font-size: 16px;
    position: relative;
    transition: all .3s linear;
    &::before{
        content: '';
        width: 0px;
        height: 5px;
        background: $Green;
        position: absolute;
        top: -10px;
        left: 15px;
        display: block;
        transition: all .5s linear;
    }
    &:hover::before{
        width: 47px;
    }
}
.logo{
    font-family: $Nautilus;
    font-size: 24px;
    letter-spacing: 2px;
    color: $White;
    text-transform: capitalize;
}
.search{
    font-size: 18px;
    color: $White;
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    transition: all .4s linear;
    z-index: 12;
    &:hover{
        color: $Black !important;
    }
    &:hover ~ .search_input {
        background: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }
}
.search_input{
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 25px;
    height: 25px;
    width: 170px;
    transition: all .4s linear;
    opacity: 0;
    &::placeholder{
        color: $White;
    }
     &:focus,
     &:hover{
         background: rgba(255, 255, 255, 0.5);
         opacity: 1;
     }
     &:focus ~ .search,
     &:hover ~ .search{
         color: $Black !important;
     }
}
.main_title{
    font-family: $MontBold;
    font-size: 55px;
    text-align: center;
    color: $White;
    padding-top: 200px;
}
.main_btn{
    font-family: $ProxRegular;
    font-size: 21px;
    color: $White;
    text-align: center;
    margin: 45px auto 0 auto;
    padding: 10px 0;
    border-radius: 25px;
    background-color: $Green;
    width: 200px;
    height: 50px;
    line-height: 1.5;
    cursor: pointer;
}
.scroll_btn{
    font-family: $ProxLight;
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    height: 25px;
    width: 130px;
    font-size: 18px;
    color: $Black;
    text-align: center;
    margin: 170px auto 0 auto;
    cursor: pointer;
    padding-right: 15px;
    overflow: hidden;
}
.icon-arrow-down2{
    font-size: 12px;
    position: absolute;
    top: -12px;
    right: 10px;
    animation: downAnime 2.2s infinite;
}
