@font-face {
    font-family: 'FontsFreeNetMontserratBold';
    src: url('../fonts/montserratbold/FontsFreeNetMontserratBold.eot');
    src: url('../fonts/montserratbold/FontsFreeNetMontserratBold.eot') format('embedded-opentype'),
         url('../fonts/montserratbold/FontsFreeNetMontserratBold.woff2') format('woff2'),
         url('../fonts/montserratbold/FontsFreeNetMontserratBold.woff') format('woff'),
         url('../fonts/montserratbold/FontsFreeNetMontserratBold.ttf') format('truetype'),
         url('../fonts/montserratbold/FontsFreeNetMontserratBold.svg#FontsFreeNetMontserratBold') format('svg');
}
@font-face {
    font-family: 'FontsFreeNetMontserratLight';
    src: url('../fonts/montserratlight/FontsFreeNetMontserratLight.eot');
    src: url('../fonts/montserratlight/FontsFreeNetMontserratLight.eot') format('embedded-opentype'),
         url('../fonts/montserratlight/FontsFreeNetMontserratLight.woff2') format('woff2'),
         url('../fonts/montserratlight/FontsFreeNetMontserratLight.woff') format('woff'),
         url('../fonts/montserratlight/FontsFreeNetMontserratLight.ttf') format('truetype'),
         url('../fonts/montserratlight/FontsFreeNetMontserratLight.svg#FontsFreeNetMontserratLight') format('svg');
}
@font-face {
    font-family: 'FontsFreeNetProximaNovaBold';
    src: url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.eot');
    src: url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.woff2') format('woff2'),
         url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.woff') format('woff'),
         url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.ttf') format('truetype'),
         url('../fonts/proximanovabold/FontsFreeNetProximaNovaBold.svg#FontsFreeNetProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'FontsFreeNetProximaNovaLight';
    src: url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.eot');
    src: url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.woff2') format('woff2'),
         url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.woff') format('woff'),
         url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.ttf') format('truetype'),
         url('../fonts/proximanovalight/FontsFreeNetProximaNovaLight.svg#FontsFreeNetProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'FontsFreeNetProximaNovaRegular';
    src: url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.eot');
    src: url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.woff2') format('woff2'),
         url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.woff') format('woff'),
         url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/proximanovaregular/FontsFreeNetProximaNovaRegular.svg#FontsFreeNetProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'Nautilus';
    src: url('../fonts/nautilus/Nautilus.eot');
    src: url('../fonts/nautilus/Nautilus.eot') format('embedded-opentype'),
         url('../fonts/nautilus/Nautilus.woff2') format('woff2'),
         url('../fonts/nautilus/Nautilus.woff') format('woff'),
         url('../fonts/nautilus/Nautilus.ttf') format('truetype'),
         url('../fonts/nautilus/Nautilus.svg#Nautilus') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensanslight/OpenSansLight.eot');
    src: url('../fonts/opensanslight/OpenSansLight.eot') format('embedded-opentype'),
         url('../fonts/opensanslight/OpenSansLight.woff2') format('woff2'),
         url('../fonts/opensanslight/OpenSansLight.woff') format('woff'),
         url('../fonts/opensanslight/OpenSansLight.ttf') format('truetype'),
         url('../fonts/opensanslight/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?cpwztp');
    src:  url('../fonts/icomoon/icomoon.eot?cpwztp#iefix') format('embedded-opentype'),
          url('../fonts/icomoon/icomoon.ttf?cpwztp') format('truetype'),
          url('../fonts/icomoon/icomoon.woff?cpwztp') format('woff'),
          url('../fonts/icomoon/icomoon.svg?cpwztp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  