html{
  scroll-behavior: smooth;
}

.relative{
    position: relative;
}
.mt-60{
  margin-top: 60px;
}
.mb-15{
  margin-bottom: 15px;
}
.ml-15{
  margin-left: 15px;
}
.mt-30{
  margin-top: 30px;
}
.img__fluid{
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.fadeD{
  animation: fadeD 1s linear;
}

.go__top{
  // display: none;
  opacity: 0;
  height: 40px;
  width: 40px;
  background: green;
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 50px;
  z-index: 25;
  line-height: 1.7;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  color: $White;
  transition: all .3s linear;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  background: $Green;
}
::-webkit-scrollbar-thumb{
  background: $Black;
  border-radius: 5px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e986";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}