// fonts

$MontBold     : 'FontsFreeNetMontserratBold';
$MontLight    : 'FontsFreeNetMontserratLight';
$ProxBold     : 'FontsFreeNetProximaNovaBold';
$ProxRegular  : 'FontsFreeNetProximaNovaRegular';
$ProxLight    : 'FontsFreeNetProximaNovaLight';
$Nautilus     : 'Nautilus';
$OpenSans     : 'OpenSansLight';


// colors

$White        : #ffffff;
$White2       : #f2f1f1;
$Black        : #000000;
$Black2       : #444444;
$Black3       : #333333;
$Green        : #54d154;
$Green2       : #207b20;
$Green3       : #3eba3e;
$Green4       : #2b9b2b;
$Grey         : #828181;
$Grey2        : #a59d9d;